In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bethel,US,2022-03-23 18:39:21,41.3712,-73.4140,48.18,40,0,3.44
1,1,Yellowknife,CA,2022-03-23 18:35:02,62.4560,-114.3525,13.41,86,100,9.22
2,2,Biograd Na Moru,HR,2022-03-23 18:43:27,43.9433,15.4519,47.10,61,0,8.46
3,3,San Quintin,MX,2022-03-23 18:42:30,30.4833,-115.9500,71.46,45,0,7.52
4,4,Umm Lajj,SA,2022-03-23 18:43:28,25.0213,37.2685,65.14,44,0,18.07

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
11,11,Rikitea,PF,2022-03-23 18:34:25,-23.1203,-134.9692,79.65,71,35,16.04
13,13,Hithadhoo,MV,2022-03-23 18:43:31,-0.6000,73.0833,83.64,66,0,14.83
21,21,Butaritari,KI,2022-03-23 18:43:33,3.0707,172.7902,79.70,82,83,14.70
23,23,Chuy,UY,2022-03-23 18:39:14,-33.6971,-53.4616,79.16,64,100,12.39
24,24,Faanui,PF,2022-03-23 18:42:34,-16.4833,-151.7500,80.49,74,96,11.99
29,29,Geraldton,AU,2022-03-23 18:39:22,-28.7667,114.6000,75.61,33,0,12.66
31,31,Keti Bandar,PK,2022-03-23 18:43:35,24.1447,67.4497,76.19,65,0,15.03
33,33,Humaita,BR,2022-03-23 18:43:36,-7.5061,-63.0208,83.19,83,100,3.44
36,36,Pisco,PE,2022-03-23 18:43:37,-13.7000,-76.2167,75.25,57,0,6.91
37,37,Port Hedland,AU,2022-03-23 18:43:37,-20.3167,118.5667,86.05,84,100,8.05

In [12]:
preferred_cities_df.count()

City_ID       169
City          169
Country       169
Date          169
Lat           169
Lng           169
Max Temp      169
Humidity      169
Cloudiness    169
Wind Speed    169
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
11       Rikitea      PF     79.65 -23.1203 -134.9692
13     Hithadhoo      MV     83.64  -0.6000   73.0833
21    Butaritari      KI     79.70   3.0707  172.7902
23          Chuy      UY     79.16 -33.6971  -53.4616
24        Faanui      PF     80.49 -16.4833 -151.7500
29     Geraldton      AU     75.61 -28.7667  114.6000
31   Keti Bandar      PK     76.19  24.1447   67.4497
33       Humaita      BR     83.19  -7.5061  -63.0208
36         Pisco      PE     75.25 -13.7000  -76.2167
37  Port Hedland      AU     86.05 -20.3167  118.5667

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
11,Rikitea,PF,79.65,-23.1203,-134.9692,People ThankYou
13,Hithadhoo,MV,83.64,-0.6000,73.0833,Scoop Guest House
21,Butaritari,KI,79.70,3.0707,172.7902,Isles Sunset Lodge
23,Chuy,UY,79.16,-33.6971,-53.4616,Nuevo Hotel Plaza
24,Faanui,PF,80.49,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
...,...,...,...,...,...,...
520,Saint-Marc,HT,84.40,19.1082,-72.6938,Maguana Hotel
522,Balikpapan,ID,76.19,-1.2675,116.8289,Swiss-Belhotel Balikpapan
523,Luanda,AO,82.40,-8.8368,13.2343,EPIC SANA Luanda
524,Ambilobe,MG,76.12,-13.2000,49.0500,Hôtel & Restaurant DIANA Ambilobe
528,Oranjestad,AW,78.30,12.5240,-70.0270,Divi Village Golf & Beach Resort

In [18]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]