## Deliverable 2. Create a Customer Travel Destinations Map.

In [10]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [12]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Cherskiy,RU,68.7500,161.3000,0.91,86,100,3.24,overcast clouds
1,1,Ushuaia,AR,-54.8000,-68.3000,37.06,93,40,21.85,light rain
2,2,Saint Andrews,US,34.0454,-81.1293,69.53,37,0,3.44,clear sky
3,3,Orlik,RU,52.5178,99.8250,20.10,90,100,7.49,light snow
4,4,Zabol,AF,32.2500,67.2500,52.95,16,0,6.69,clear sky

In [13]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 10
What is your desired maximum temperature for your trip? 100

In [14]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Ushuaia,AR,-54.8000,-68.3000,37.06,93,40,21.85,light rain
2,2,Saint Andrews,US,34.0454,-81.1293,69.53,37,0,3.44,clear sky
3,3,Orlik,RU,52.5178,99.8250,20.10,90,100,7.49,light snow
4,4,Zabol,AF,32.2500,67.2500,52.95,16,0,6.69,clear sky
5,5,Takoradi,GH,4.8845,-1.7554,81.54,86,71,10.18,light rain
6,6,Kapaa,US,22.0752,-159.3190,82.38,74,40,18.41,scattered clouds
7,7,Provideniya,RU,64.3833,-173.3000,10.51,67,0,15.99,clear sky
8,8,Puerto Ayora,EC,-0.7393,-90.3518,75.54,96,100,5.01,overcast clouds
9,9,Naze,JP,28.3667,129.4833,63.52,51,0,12.33,clear sky
10,10,New Norfolk,AU,-42.7826,147.0587,65.91,65,58,2.35,broken clouds

In [15]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                3
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [16]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Ushuaia,AR,-54.8000,-68.3000,37.06,93,40,21.85,light rain
2,2,Saint Andrews,US,34.0454,-81.1293,69.53,37,0,3.44,clear sky
3,3,Orlik,RU,52.5178,99.8250,20.10,90,100,7.49,light snow
4,4,Zabol,AF,32.2500,67.2500,52.95,16,0,6.69,clear sky
5,5,Takoradi,GH,4.8845,-1.7554,81.54,86,71,10.18,light rain
...,...,...,...,...,...,...,...,...,...,...
689,689,Bollnas,SE,61.3482,16.3946,30.18,95,100,2.35,overcast clouds
690,690,Ogaminana,NG,7.5946,6.2248,78.01,79,100,8.55,overcast clouds
691,691,Almaznyy,RU,48.0448,40.0450,39.43,79,100,17.07,overcast clouds
692,692,Ilebo,CD,-4.3167,20.5833,71.10,99,100,1.92,light rain
693,693,San Andres,CO,12.5847,-81.7006,82.42,74,40,11.50,scattered clouds

In [17]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Ushuaia,AR,37.06,light rain,-54.8000,-68.3000,
2,Saint Andrews,US,69.53,clear sky,34.0454,-81.1293,
3,Orlik,RU,20.10,light snow,52.5178,99.8250,
4,Zabol,AF,52.95,clear sky,32.2500,67.2500,
5,Takoradi,GH,81.54,light rain,4.8845,-1.7554,
6,Kapaa,US,82.38,scattered clouds,22.0752,-159.3190,
7,Provideniya,RU,10.51,clear sky,64.3833,-173.3000,
8,Puerto Ayora,EC,75.54,overcast clouds,-0.7393,-90.3518,
9,Naze,JP,63.52,clear sky,28.3667,129.4833,
10,New Norfolk,AU,65.91,broken clouds,-42.7826,147.0587,

In [18]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found...Skipping.")

Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.

In [19]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Ushuaia,AR,37.06,light rain,-54.8000,-68.3000,Albatross Hotel
2,Saint Andrews,US,69.53,clear sky,34.0454,-81.1293,Baymont by Wyndham Columbia Northwest
3,Orlik,RU,20.10,light snow,52.5178,99.8250,Gostevoy Dom Mini Gostinitsa
5,Takoradi,GH,81.54,light rain,4.8845,-1.7554,Raybow International Hotel
6,Kapaa,US,82.38,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

In [20]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [21]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [22]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))